<!DOCTYPE html> 
<html> 
<head> 
    <title>Add Aircraft Carrier</title> 
</head> 
<body> 
    <h1>Add Aircraft Carrier</h1> 
    <form method="post"> 
        <label for="ship_id">ShipID:</label> 
        <input type="text" id="ship_id" name="ship_id"><br> 
        <label for="number_of_aircraft">Number of Aircraft:</label> 
        <input type="text" id="number_of_aircraft" name="number_of_aircraft"><br> 
        <label for="runway_length_in_feet">Runway Length (feet):</label> 
        <input type="text" id="runway_length_in_feet" name="runway_length_in_feet"><br> 
        <label for="commission_date">Commission Date:</label> 
        <input type="text" id="commission_date" name="commission_date"><br> 
        <input type="submit" value="Add">
    </form> 
    <a href="/">Back to List</a> 
</body> 
</html>