<!DOCTYPE html> 
<html> 
<head> 
    <title>Aircraft Carriers</title> 
</head> 
<body> 
    <h1>Aircraft Carriers</h1> 
    <table> 
        <tr> 
            <th>CarrierID</th> 
            <th>ShipID</th> 
            <th>Number of Aircraft</th> 
            <th>Runway Length (feet)</th> 
            <th>Commission Date</th>
        </tr> 
        {% for carrier in aircraft_carriers %} 
        <tr> 
            <td>{{ carrier['CarrierID'] }}</td> 
            <td>{{ carrier['ShipID'] }}</td> 
            <td>{{ carrier['NumberofAircraft'] }}</td> 
            <td>{{ carrier['Runwaylengthinfeet'] }}</td> 
            <td>{{ carrier['CommissionDate'] }}</td>
        </tr> 
        {% endfor %} 
    </table> 
    <a href="/add">Add New Aircraft Carrier</a> 
</body> 
</html>